[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
pandas = "*"
sklearn = "*"
scipy = "*"
numpy = "*"
cython = "*"

[requires]
python_version = "3.7"
